<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $("div.foo").carousel();
        });
    });
</script>

<div class="foo">

    <ul style="position:absolute; top:0px; width:2000px;">
        <li>
            <img src="@Url.Content("~/Images/pic1.jpg")" width="548px" height="411px" alt=""/>
        </li>
        <li>
            <img src="@Url.Content("~/Images/pic1.jpg")" width="548px" height="411px" alt=""/>
        </li>
        <li>
            <img src="@Url.Content("~/Images/pic1.jpg")" width="548px" height="411px" alt=""/>
        </li>
        <li>
            <img src="@Url.Content("~/Images/pic1.jpg")" width="548px" height="411px" alt=""/>
        </li>
        <li>
            <img src="@Url.Content("~/Images/pic1.jpg")" width="548px" height="411px" alt=""/>
        </li>
    </ul>
</div>