@model CompareCloudware.Web.Models.SearchPageModel
@using CompareCloudware.Web.Models

@using System.Web.Mvc
@using System.Configuration;

@*home display TEST template
*@
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //function detectAcrobat() {
        var acrobat = new Object();

        acrobat.installed = false;
        acrobat.version = '0.0';

        if (navigator.plugins && navigator.plugins.length) {
            for (var x = 0, l = navigator.plugins.length; x < l; ++x) {
                if (navigator.plugins[x].description.indexOf('Adobe Acrobat') != -1) {
                    acrobat.version = parseFloat(navigator.plugins[x].description.split('Version ')[1]);

                    if (acrobat.version.toString().length == 1) acrobat.version += '.0';

                    acrobat.installed = true;
                    break;
                }
            }
        }
        else if (window.ActiveXObject) {
            for (x = 2; x < 10; x++) {
                try {
                    oAcro = eval("new ActiveXObject('PDF.PdfCtrl." + x + "');");
                    if (oAcro) {
                        acrobat.installed = true;
                        acrobat.version = x + '.0';
                    }
                }
                catch (e) { }
            }

            try {
                oAcro4 = new ActiveXObject('PDF.PdfCtrl.1');
                if (oAcro4) {
                    acrobat.installed = true;
                    acrobat.version = '4.0';
                }
            }
            catch (e) { }

            try {
                oAcro7 = new ActiveXObject('AcroPDF.PDF.1');
                if (oAcro7) {
                    acrobat.installed = true;
                    acrobat.version = '7.0';
                }
            }
            catch (e) { }

        }
        //alert(acrobat.installed);
        //alert(acrobat.version);

        //}
    });
</script>
<div class="search-page-title-bar font-normal-11px">
</div>
@Html.Partial("Loading")

@*@using (Html.BeginForm("CloudApplication", "Home", FormMethod.Post, new { @id = "myform" }))*@
@using (Html.BeginForm("CloudApplication", "Home", new { @cloudApplicationID = Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationID }, FormMethod.Post ))
{
<div class="search-result-page-div font-normal-11px">
    <div class="search-result-div">
        @Html.DisplayFor(x => x.ContainerModel.ChosenCloudApplicationModel.CloudApplicationSearchResultModel)
        <div class="search-header-result-container">
        <div class="cloud-application-search-result-table-outer">
    
@*            <hr />*@
            <br />
    
            <table class="box-shadow" style="width:93%;margin-left:3px;border:3px solid" >
                <tr>
                    <td style="width:100%;text-align:left;" >
                        <label class="font-normal-22px-purple search-result-header">Summary</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">
                        <div id="main3" style="overflow: hidden; height: auto; width: 100%;">
                    <div class="search-result-summary-div">
                        <table>
                            <!-- OPERATING SYSTEMS -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header line-height-150">Operating system:</label>
                                </td>
                            </tr>
                            @if (Model.ContainerModel.ChosenCloudApplicationModel.OperatingSystems.Count == 0)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">Not currently available</label>
                                    </td>
                                </tr>
                            }
                            @foreach (OperatingSystemModel os in Model.ContainerModel.ChosenCloudApplicationModel.OperatingSystems)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">@os.OperatingSystemName</label>
                                    </td>
                                </tr>
                            }
                            <!-- SUPPORT TYPES -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header line-height-150">Support type:</label>
                                </td>
                            </tr>
                            @if (Model.ContainerModel.ChosenCloudApplicationModel.SupportTypes.Count == 0)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">Not currently available</label>
                                    </td>
                                </tr>
                            }
                            @foreach (SupportTypeModel st in Model.ContainerModel.ChosenCloudApplicationModel.SupportTypes)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">@st.SupportTypeName</label>
                                    </td>
                                </tr>
                            }
                            <!-- SUPPORT DAYS -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header line-height-150">Support days:</label>
                                </td>
                            </tr>
                            @if (Model.ContainerModel.ChosenCloudApplicationModel.SupportDays.SupportDaysName.Length == 0)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">Not currently available</label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <label class="font-normal-11px-black search-result-header line-height-150">@Model.ContainerModel.ChosenCloudApplicationModel.SupportDays.SupportDaysName</label>
                                </td>
                            </tr>
                            <!-- SUPPORT HOURS -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header line-height-150">Support hours:</label>
                                </td>
                            </tr>
                            @if (Model.ContainerModel.ChosenCloudApplicationModel.SupportHours.SupportHoursName.Length == 0)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">Not currently available</label>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <label class="font-normal-11px-black search-result-header line-height-150">@Model.ContainerModel.ChosenCloudApplicationModel.SupportHours.SupportHoursName</label>
                                </td>
                            </tr>
                            <!-- SUPPORT TERRITORIES -->
                            @if (Model.ContainerModel.ChosenCloudApplicationModel.SupportTerritories != null)
                            {
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header line-height-150">Support territory:</label>
                                </td>
                            </tr>
                            if (Model.ContainerModel.ChosenCloudApplicationModel.SupportTerritories.Count == 0)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">Not currently available</label>
                                    </td>
                                </tr>
                            }
                            foreach (SupportTerritoryModel stm in Model.ContainerModel.ChosenCloudApplicationModel.SupportTerritories)
                            {
                                <tr>
                                    <td>
                                        <label class="font-normal-11px-black search-result-header line-height-150">@stm.SupportTerritoryName</label>
                                    </td>
                                </tr>
                            }
                            }
                            <!-- VIDEO TRAINING -->
                            <tr>
                                <td>
                                    <label class="font-bold-11px-purple search-result-header line-height-150">Video Training:</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="font-normal-11px-black search-result-header line-height-150">@(Model.ContainerModel.ChosenCloudApplicationModel.VideoTrainingSupport ? "Yes" : "No")</label>
                                </td>
                            </tr>
                            <!-- LANGUAGES -->
                            @Html.Partial("CloudApplicationLanguages", Model.ContainerModel.ChosenCloudApplicationModel.Languages);
                        </table>
                    </div>
                    <div class="search-result-summary-div">

                    <!-- FEATURES -->
                    @Html.Partial("CloudApplicationFeatures", Model);
                    <div style="clear:both"></div>
                    <!-- APPLICATIONS -->
                    @Html.Partial("CloudApplicationApplications", Model);

                    </div>
                </div>
                    </td>
                </tr>
            </table>

@*            <hr />*@
            <br />

            <!-- THUMBNAIL DOCUMENTS -->
            <table class="box-shadow" style="width:93%;margin-left:3px;border:3px solid">
                <tr>
                    <td style="width:100%;text-align:left;" >
                        <label class="font-normal-22px-purple search-result-header">Discover more about @Model.ContainerModel.ChosenCloudApplicationModel.ServiceName</label>
                    </td>                    
                </tr>
                <tr><td>&nbsp;</td></tr>
                <!-- CASE STUDIES -->
                <tr>
                    <td>
                        <label class="font-bold-11px-purple search-result-header">Case Studies</label>
                    </td>
                </tr>
                 @{int documentID;}
                <tr>
                    <td>
                        <div class="thumbnail-documents" style="float: left;">

                        @if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments.Where(x => x.CloudApplicationDocumentType.CloudApplicationDocumentTypeName.ToUpperInvariant().StartsWith("CASE")).Count() == 0)
                        {
                           <label class="font-bold-11px-black">Currently not available</label>
                        }
                        @for (int td = 1; td <= Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments.Count; td++)
                        {
                            if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments[td - 1].CloudApplicationDocumentType.CloudApplicationDocumentTypeName.ToUpperInvariant().StartsWith("CASE"))
                            {
                                documentID = Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments[td - 1].CloudApplicationDocumentID;
                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a href="@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID" target="_blank" 

@*        onclick="window.open('{@Url.Action("ShowDocument", "Home", new { thumbnailDocumentID = td })}',this.target,'width=900,height=700');return false;"
*@
@*                                            onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/ShowImage?thumbnailDocumentID=")@td');return false;">
*@                                            onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID');return false;">
                                            <img src='@Url.Action("ShowImage", "Home", new { documentID = td })' class="thumbnail-image" />
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">

                                        <a href="@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID" target="_blank" 

                                            onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID');return false;">
                                            <label class="font-bold-11px-black">@Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments[td - 1].CloudApplicationDocumentTitle</label>
                                        </a>
                                        <br />

@*                                        <a href="http://www.adobe.com" target="_blank" 
                                        onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=")@td');return false;">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
                                        <a target="_blank" href="@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=")@td">
                                            <label class="font-bold-11px-purple search-result-header">NO JS</label>
                                        </a>
*@
                                    </div>
                                </div>
                            }
                        }
                        </div>
                    </td>
                </tr>
                <!-- WHITE PAPERS -->
                <tr>
                    <td>
                        <label class="font-bold-11px-purple search-result-header">White Papers</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
@*                                
                                <tr>
                                    <td rowspan="4">
                                        <a href ='@Url.Action("ShowDocument", "Home", new { thumbnailDocumentID = td })'>
                                            <img src='@Url.Action("ShowImage", "Home", new { thumbnailDocumentID = td })' height="100px" width="100px" />
                                        </a>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Download file directly", "DownloadFile", new { thumbnailDocumentID = td })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.ActionLink("Redirect to another website to display document", "RedirectToDocumentOwnerWebsiteToShowDocument", new { thumbnailDocumentID = td })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.ActionLink("Redirect in this website to display document", "RedirectInCloudCompareWebsiteToShowDocument", new { thumbnailDocumentID = td })
                                    </td>
                                </tr>
*@                              
                            </table>

                        <div class="thumbnail-documents" style="float: left;">
                            @if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments.Where(x => x.CloudApplicationDocumentType.CloudApplicationDocumentTypeName.ToUpperInvariant().StartsWith("WHITE")).Count() == 0)
                            {
                               <label class="font-bold-11px-black">Currently not available</label>
                            }
                            @for (int td = 1; td <= Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments.Count; td++)
                            {
                                if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments[td - 1].CloudApplicationDocumentType.CloudApplicationDocumentTypeName.ToUpperInvariant().StartsWith("WHITE"))
                                {
                                    documentID = Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments[td - 1].CloudApplicationDocumentID;
                                <div class="thumbnail-document">
                                    <div class="thumbnail-document-image">
                                        <a href="@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID" target="_blank" 

@*        onclick="window.open('{@Url.Action("ShowDocument", "Home", new { thumbnailDocumentID = td })}',this.target,'width=900,height=700');return false;"
*@
@*                                            onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/ShowImage?thumbnailDocumentID=")@td');return false;">
*@                                            onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID');return false;">
                                            <img src='@Url.Action("ShowImage", "Home", new { documentID = td })' class="thumbnail-image" />
                                        </a>
                                    </div>
                                    <div class="thumbnail-document-text">

                                        <a href="@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID" target="_blank" 

                                            onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectShowDocument?documentID=")@documentID');return false;">
                                        <label class="font-bold-11px-black">@Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationDocuments[td - 1].CloudApplicationDocumentTitle</label>
                                        </a>
                                        <br />

@*                                        <a href="http://www.adobe.com" target="_blank" 
                                        onclick="window.open('@Html.Encode("http://")@Request.Url.Authority@Request.ApplicationPath@Html.Encode("Home/RedirectInCloudCompareWebsiteToShowDocument?thumbnailDocumentID=")@td');return false;">
                                        <label class="font-bold-11px-purple search-result-header">Download now</label>
                                        </a>
*@
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </td>
                </tr>


                <!-- VIDEOS -->
                        @if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationVideos.Count > 0)
                        {
                <tr>
                    <td>
                        <label class="font-bold-11px-purple search-result-header">Videos</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationVideos != null)
                        {
                            if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationVideos.Count == 1)
                            {
                                @Html.EditorFor(x => x.ContainerModel.ChosenCloudApplicationModel.CloudApplicationVideos)
                            }
                        }
                    </td>
                </tr>
                        }

                <tr>
                    <td>
                    
                    </td>
                </tr>
            </table>
            
            @Request.Url.Authority@Request.ApplicationPath
        </div>
        </div>
    </div>

@*    <div class="search-page-title-bar font-normal-11px">
        @{Html.RenderPartial("SearchResultButtonsTop",Model.CustomSession);}
    </div>*@

    <div style="clear:both;height:10px;"></div>
    <label class="font-normal-22px-purple">Product reviews</label>


    <div class="search-result-product-reviews-div">
        @if (Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationProductReviews.Count == 0)
        {
            <label class="font-bold-11px-black">Currently not available</label>
        }
        @Html.DisplayFor(x => x.ContainerModel.ChosenCloudApplicationModel.CloudApplicationProductReviews)
    </div>

    <div style="clear:both;height:10px;"></div>
@*    @{Html.RenderPartial("SearchResultButtonsBottom", Model.CustomSession);}*@

</div>

                        var topMargin = "0px;";
                        if (Model.CustomSession.HasSearchResults)
                        {
                            topMargin = "37px;";
                        }
    
<div class="search-result-product-ratings-div" style="margin-top:@topMargin">
    @if (@Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationModelAlternatives.Count > 0)
    {
    <div class="search-result-alternatives">
        <p class="font-bold-13px-purple">Alternative @Model.ContainerModel.ChosenCloudApplicationModel.Category.CategoryName.ToLowerInvariant() applications from @Model.ContainerModel.ChosenCloudApplicationModel.Vendor.VendorName</p>
@*        <br />*@
        @Html.DisplayFor(x => x.ContainerModel.ChosenCloudApplicationModel.CloudApplicationModelAlternatives)
    </div>
    }
    
    @Html.HiddenFor(x => x.ContainerModel.ChosenCloudApplicationModel.BuyURL)
    @Html.HiddenFor(x => x.ContainerModel.ChosenCloudApplicationModel.TryURL)

    @Html.DisplayFor(x => x.ContainerModel.ChosenCloudApplicationModel.FreeTrialBuyNow)

    @Html.Partial("SocialFollowers", Model.ContainerModel.ChosenCloudApplicationModel)

    @{Html.RenderPartial("CloudApplicationOverallRating", Model.ContainerModel.ChosenCloudApplicationModel); }

    
    <div style="clear:both; height:10px;"></div>

    <label class="font-normal-22px-purple">User reviews</label>

    @Html.DisplayFor(x => x.ContainerModel.ChosenCloudApplicationModel.CloudApplicationUserReviews)

    <div style="clear:both; height:0px;"></div>

                    <div class="site-button" style="float:left;">
@*                        <input type="image" src="@Url.Content("~/Images/Buttons/1x1-transparent.png")" value="CreateReview" />*@
                                    <img src="@Url.Content("~/Images/Buttons/CCW_CreateReview.png")" name="@Html.Encode("CREATEREVIEW_BUTTON")" id = "createReviewButton"/>
                    </div>


</div>
    
    
}

@*<script>
    $(function () {
        $("#dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>
*@

<div id="dialog-message-application-submission-complete" title="Request free trial complete">
    <table>
        <tr>
            <td valign="top">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                </p>
            </td>
            <td valign="top">
                <label class="font-normal-13px-black">Thank you for your request. Somebody will be in touch with you shortly.</label>
            </td>
        </tr>
    </table>
</div>
<div id="dialog-message-application-email-complete" title="Email application complete">
    <table>
        <tr>
            <td valign="top">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                </p>
            </td>
            <td valign="top">
                <label class="font-normal-13px-black">Thank you, an EMail has just been sent to your address.</label>
                <label class="font-normal-13px-black">When you're ready to register for your FREE trial or place an order, simply complete the details in the blue registration panel on the right.</label>
            </td>
        </tr>
    </table>
</div>
<div id="dialog-message-rating-review-complete" title="Rating review complete">
    <table>
        <tr>
            <td valign="top">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                </p>
            </td>
            <td valign="top">
                <label class="font-normal-13px-black">Thank you, your review has been registered with us.</label>
            </td>
        </tr>
    </table>
</div>
<div id="dialog-view-review" title="Product Review">
@*    <IFRAME style="border: 0px;" src="http://www.bbc.co.uk" width="100%" height = "100%" >*@
@*    <iframe id="theReview" style="border: 0px;" src="http://www.samplepdf.com/sample.pdf" width="100%" height = "100%"></iframe>*@
    <iframe id="theReview" style="border: 0px;" src="" width="100%" height = "100%"></iframe>
</div>
<div id="dialog-message-product-review-download-complete" title="Product review download">
    <table>
        <tr>
            <td valign="top">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
                </p>
            </td>
            <td valign="top">
                <label class="font-normal-13px-black">The product review will be downloaded to your device.</label>
            </td>
        </tr>
    </table>
</div>

        
    @Html.Partial("UserReview", Model.ContainerModel.ChosenCloudApplicationModel.CloudApplicationUserReviewModel)
    @Html.Partial("TCDialog")
    @Html.Partial("NumberOfUsersDialog")
