@model CompareCloudware.Web.Models.ContentTextsModel
@using System.Text.RegularExpressions;
<script>
    $(function () {
        $("#corporateTabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
        $("#corporateTabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
    });
</script>
<div class="corporate-page-content">
    <div class="corporate-page-menubar">
        <label class="font-bold-13px-white">
            Corporate Information</label>
    </div>
    <div id="corporateTabs">
        <ul>
            <li>
                <div class="cc-ui-selected-tab-icon cc-ui-icon-selected-tab"></div>
                <a href="#tabs-1" class="font-normal-13px-black">About us</a>
            </li>
            <li>
                <div class="cc-ui-selected-tab-icon cc-ui-icon-selected-tab"></div>
                <a href="#tabs-2" class="font-normal-13px-black">Management team</a>
            </li>
            <li>
                <div class="cc-ui-selected-tab-icon cc-ui-icon-selected-tab"></div>
                <a href="#tabs-3" class="font-normal-13px-black">Vision</a>
            </li>
            <li>
                <div class="cc-ui-selected-tab-icon cc-ui-icon-selected-tab"></div>
                <a href="#tabs-4" class="font-normal-13px-black">FAQs</a>
            </li>
            <li>
                <div class="cc-ui-selected-tab-icon cc-ui-icon-selected-tab"></div>
                <a href="#tabs-5" class="font-normal-13px-black">Careers</a>
            </li>
            <li>
                <div class="cc-ui-selected-tab-icon cc-ui-icon-selected-tab"></div>
                <a href="#tabs-6" class="font-normal-13px-black">Press</a>
            </li>
            <li>
                <div class="cc-ui-selected-tab-icon cc-ui-icon-selected-tab"></div>
                <a href="#tabs-7" class="font-normal-13px-black">Contact us</a>
            </li>
        </ul>
        <div id="tabs-1">
            <div class="content-text">
                <table style="width: 100%;">
                    <tr>
                        @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                        {
                            if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("ABOUTUS_TITLE"))
                            {
                            <td style="width: 100%;">
                                <label class="font-normal-22px-purple">@Model.ContentTexts[td - 1].ContentTextData</label>
                            </td>
                                break;
                            }
                        }
                    </tr>
                    @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                    {
                        if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("ABOUTUS_SECTION_BODY"))
                        {
                        <tr>
                            <td style="width: 100%;">
                            @if (Model.ContentTexts[td - 1].IsBold)
                            {
                                <label class="font-bold-11px-black">@Model.ContentTexts[td - 1].ContentTextData</label>
                            }
                            else
                            {
                                <label class="font-normal-11px-black">@Model.ContentTexts[td - 1].ContentTextData</label>
                            }
                            </td>
                        
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <div id="tabs-2">
            @{
                int maxBodyNumber;
                maxBodyNumber = Model.ContentTexts.Where(x => x.ContentTextType.ContentTextTypeName.EndsWith("MANAGEMENTTEAM_SECTION_TITLE")).Select(y => y.BodyOrder).Max();
            }
            <div class="content-text">
                <table style="width: 100%;">
                    <tr>
                        @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                        {
                            if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("MANAGEMENTTEAM_TITLE"))
                            {
                            <td style="width: 100%;">
                                <label class="font-normal-22px-purple">@Model.ContentTexts[td - 1].ContentTextData</label>
                            </td>
                                break;
                            }
                        }
                    </tr>
                    @for (int td = 1; td <= maxBodyNumber; td++)
                    {
                        var sectionTitle = Model.ContentTexts.Where(x => x.ContentTextType.ContentTextTypeName.EndsWith("MANAGEMENTTEAM_SECTION_TITLE") && x.BodyOrder == td).FirstOrDefault();
                        var sectionBody = Model.ContentTexts.Where(x => x.ContentTextType.ContentTextTypeName.EndsWith("MANAGEMENTTEAM_SECTION_BODY") && x.BodyOrder == td).FirstOrDefault();
                        //if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("MANAGEMENTTEAM_SECTION_TITLE"))
                        //{
                        <tr>
                            <td style="width: 100%;">
                                <table>
                                    <tr>
                                        @if (sectionTitle.ContentTextGraphic != null)
                                        {
                                        <td style="width:140px;">
                                            <img src='@Url.Action("ShowPortrait", "Home", new { contentTextID = sectionTitle.ContentTextID })' class="search-result-image" />
                                        </td>
                                        <td style="vertical-align:top;">
                                            <table>
                                                <tr>
                                                    <td style="width:100%;">
                                                        <label class="font-bold-11px-black">@sectionTitle.ContentTextData</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label class="font-normal-11px-black">@sectionBody.ContentTextData</label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        }
                                        else
                                        {
                                        <td colspan="2" style="vertical-align:top;">
                                            <label class="font-normal-11px-black">@sectionTitle.ContentTextData</label>
                                        </td>
                                            
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
@*                        }
*@                    }
                </table>
            </div>
        </div>
        <div id="tabs-3">
            <div class="content-text">
                <table style="width: 100%;">
                    <tr>
                        @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                        {
                            if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("VISION_TITLE"))
                            {
                            <td style="width: 100%;">
                                <label class="font-normal-22px-purple">@Model.ContentTexts[td - 1].ContentTextData</label>
                            </td>
                                break;
                            }
                        }
                    </tr>
                    @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                    {
                        if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("VISION_SECTION_BODY"))
                        {
                        <tr>
                            <td style="width: 100%;">
                                <label class="font-normal-11px-black">@Model.ContentTexts[td - 1].ContentTextData</label>
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <div id="tabs-4">
            @{
                maxBodyNumber = Model.ContentTexts.Where(x => x.ContentTextType.ContentTextTypeName.EndsWith("FAQS_SECTION_TITLE")).Select(y => y.BodyOrder).Max();
            }
            <div class="content-text">
        <table>
            <tr>
                <td>
                    @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                    {
                        if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().StartsWith("FAQS_TITLE"))
                        {
                        <label class="font-normal-22px-purple">@Model.ContentTexts[td - 1].ContentTextData</label>
                            break;
                        }
                    }
                </td>
            </tr>
        </table>
        <table>
            @for (int td = 1; td <= maxBodyNumber; td++)
            {
                var sectionTitle = Model.ContentTexts.Where(x => x.ContentTextType.ContentTextTypeName.EndsWith("FAQS_SECTION_TITLE") && x.BodyOrder == td).FirstOrDefault();
                var sectionBody = Model.ContentTexts.Where(x => x.ContentTextType.ContentTextTypeName.EndsWith("FAQS_SECTION_BODY") && x.BodyOrder == td).FirstOrDefault();
                <tr>
                    <td style="width: 100%;">
                        <div class="content-data-header">
                            <label class="font-bold-11px-black">@sectionTitle.ContentTextData</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%;">
                        <label class="font-normal-11px-black">@sectionBody.ContentTextData</label>
                    </td>
                </tr>
                <tr>
                    <td class="font-normal-11px-black">
                        <hr class="dashed" />
                    </td>
                </tr>
                
            }
        </table>
            </div>
        </div>
        <div id="tabs-5">
            <div class="content-text">
                <table style="width: 100%;">
                    <tr>
                        @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                        {
                            if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("CAREERS_TITLE"))
                            {
                            <td style="width: 100%;">
                                <label class="font-normal-22px-purple">@Model.ContentTexts[td - 1].ContentTextData</label>
                            </td>
                                break;
                            }
                        }
                    </tr>
                    @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                    {
                        if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("CAREERS_SECTION_BODY"))
                        {
                        <tr>
                            <td style="width: 100%;">
                            @{var textToInsert = Model.ContentTexts[td - 1].ContentTextData;
                            if (textToInsert.Contains("#EMAIL"))
                            {
                                string[] eMail = Regex.Split(textToInsert, "#EMAIL");
                                string firstPart = eMail[0];
                                string secondPart = eMail[1];
                                string thirdPart = eMail[2];
                                //textToInsert = firstPart + secondPart + thirdPart;   
                                <label class="font-normal-11px-black">@firstPart</label>
                                <a href="mailto: @secondPart">@secondPart</a>
                                <label class="font-normal-11px-black">@thirdPart</label>
                            }
                            else
                            {
                                <label class="font-normal-11px-black">@textToInsert</label>
                            }
                            }
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <div id="tabs-6">
            <div class="content-text">
                <table style="width: 100%;">
                    <tr>
                        @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                        {
                            if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("PRESS_TITLE"))
                            {
                            <td style="width: 100%;">
                                <label class="font-normal-22px-purple">@Model.ContentTexts[td - 1].ContentTextData</label>
                            </td>
                                break;
                            }
                        }
                    </tr>
                    @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                    {
                        if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("PRESS_SECTION_BODY"))
                        {
                        <tr>
                            <td style="width: 100%;">
                            @{string fontClass;
                              string fontStyle = "";
                            if (Model.ContentTexts[td - 1].IsBold)
                            {
                                fontClass="font-bold-11px-purple";
                            }
                            else
                            {
                                fontClass = "font-normal-11px-black";
                            }
                            if (Model.ContentTexts[td - 1].IsUnderline)
                            {
                                fontStyle = "text-decoration: underline;";
                            }
                            
                            
                            
                            }

                            @{var textToInsert = Model.ContentTexts[td - 1].ContentTextData;
                            if (textToInsert.Contains("#EMAIL"))
                            {
                                string[] eMail = Regex.Split(textToInsert, "#EMAIL");
                                string firstPart = eMail[0];
                                string secondPart = eMail[1];
                                string thirdPart = eMail[2];
                                //textToInsert = firstPart + secondPart + thirdPart;   
                                <label class="@fontClass" style="@fontStyle">@firstPart</label>
                                
                                
                                
                                <a href="mailto: @secondPart">@secondPart</a>
                                <label class="@fontClass" style="@fontStyle">@thirdPart</label>
                            }
                            else
                            {
                                <label class="@fontClass" style="@fontStyle">@textToInsert</label>
                            }
                            }
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <div id="tabs-7">
            <div class="content-text">
                <table style="width: 100%;">
                    <tr>
                        @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                        {
                            if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("CONTACTUS_TITLE"))
                            {
                            <td style="width: 100%;">
                                <label class="font-normal-22px-purple">@Model.ContentTexts[td - 1].ContentTextData</label>
                            </td>
                                break;
                            }
                        }
                    </tr>
                    @for (int td = 1; td <= Model.ContentTexts.Count; td++)
                    {
                        if (Model.ContentTexts[td - 1].ContentTextType.ContentTextTypeName.ToUpperInvariant().EndsWith("CONTACTUS_SECTION_BODY"))
                        {
                        <tr>
                            <td style="width: 100%;">
                            @{string fontClass;
                              string fontStyle = "";
                            if (Model.ContentTexts[td - 1].IsBold)
                            {
                                fontClass="font-bold-11px-purple";
                            }
                            else
                            {
                                fontClass = "font-normal-11px-black";
                            }
                            if (Model.ContentTexts[td - 1].IsUnderline)
                            {
                                fontStyle = "text-decoration: underline;";
                            }
                            
                            
                            
                            }

                            @{var textToInsert = Model.ContentTexts[td - 1].ContentTextData;
                            if (textToInsert.Contains("#EMAIL"))
                            {
                                string[] eMail = Regex.Split(textToInsert, "#EMAIL");
                                string firstPart = eMail[0];
                                string secondPart = eMail[1];
                                string thirdPart = eMail[2];
                                //textToInsert = firstPart + secondPart + thirdPart;   
                                <label class="@fontClass" style="@fontStyle">@firstPart</label>
                                
                                
                                
                                <a href="mailto: @secondPart">@secondPart</a>
                                <label class="@fontClass" style="@fontStyle">@thirdPart</label>
                            }
                            else
                            {
                                <label class="@fontClass" style="@fontStyle">@textToInsert</label>
                            }
                            }
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
