@model CompareCloudware.Web.Models.SearchPageModel
<div class="creature-right-div">
@*    <img src="@Url.Content("~/Images/Compo_Final_SearchFilters.gif")" />*@
    <img src="@Url.Content("~/Images/Compo_Final_SEARCHRESULTS.gif")" />
    <div class="creature-right-text">
        <span>
            <label class="font-bold-22px-purple" id="searchResultsCount">
                @Model.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResults.Count()
            </label>
            <label class="font-bold-13px-purple">
                results found</label>
        </span>
        <p class="font-normal-13px-blue" style="line-height: 13px;">
            Filter your search results with the options below</p>
        <div class="creature-right-text-full-summary-button">
            @Html.Partial("FullSummaryButton", Model)
        </div>
    </div>
</div>
<div style="clear: both;">
</div>
@*<div class="creature-on-left">
    <div class="creature-left-div">
        <img src="../../../Images/creature.png" />
    </div>
    <div class="creature-right-div-text-bumper">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="creature-right-div-text">
        <label class="font-bold-22px-purple">
            @Model.SearchResultsModel.SearchResults.Count()
        </label>
        <label class="font-bold-13px-purple">results</label>
        <br />
        <label class="font-13px-blue">
            Filter your search a b c results with the options below
        </label>
    </div>
</div>
*@