@model CompareCloudware.Web.Models.HomePageModel
@using (Html.BeginForm("HomePage", "Home", FormMethod.Post))
{

    Model.CustomSession.SelectedCategoryID = 0;
    Model.CustomSession.ShowSearchTextBox = false;
    
        Html.RenderPartial("CarouselModel", @Model.Carousel);
    
    <div class="homepage-container">
        <div class="search-homepage-container">
            @Html.DisplayFor(x => x.SearchInputModel)
        </div>

        <div class="homepage-container-content">
            <div class="xcategory-page-content" style="width:65%;float:left;">
                @Html.DisplayFor(x => x.TabbedOnpageOptimisationModel)
            </div>
            <div class="homepage-social-container" style="width:35%;float:left">
                <div class="homepage-whatis-container">
                    <span class="font-normal-22px-purple">What is cloudware?</span>
                </div>
                <div class="homepage-social-carousel-container">
                 @Html.EditorFor(x => x.Video)
                @{
                    Html.RenderPartial("CarouselSocialModel", @Model.CarouselSocial);
                }
                </div>
            </div>
        </div>
        <div style="clear:both;height:20px;"></div>

        <div class="home-page-content">
            @Html.DisplayFor(x => x.TabbedSearchResultsModel)
        </div>

    </div>


}

@using (Html.BeginForm("HomePageFirstTime", "Home", FormMethod.Post))
{
    @*<div id="compare-first-visit" title="Product Review">*@
    @*<div id="comparefirstvisit" class="modal hide fade in modal-first-time-visit" style="display: none; ">*@
    
    if(Model.IsFirstTimeVisit)
    {
    <div id="comparefirstvisit" class="modal fade modal-first-time-visit">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-body">
            @Html.DisplayFor(x => x.SearchInputModelFirstTime)
        </div>
    </div>
    }
}

@Html.Partial("TakingToSelection")

<script>


    $(document).ready(function () {

        var firstTime = function () {
            var s1 = $(".search-homepage-container");
            var s2 = $("#comparefirstvisit");
            var searchPageContainerPos = $(s1).position();
            $(s2).position().top = searchPageContainerPos.top - 10;
            $(s2).position().left = searchPageContainerPos.left;
            $("#comparefirstvisit").offset({ top: searchPageContainerPos.top - 12, left: searchPageContainerPos.left + 2 });
            $('#comparefirstvisit').modal('show');
        }

        var firstTimeVisit = @Model.IsFirstTimeVisit.ToString().ToLower();
        if (firstTimeVisit == true)
        {
            //setTimeout(firstTime, 5000);
        }
        //setTimeout(social, 100);
    });
</script>
