@model CompareCloudware.Web.Models.CloudApplicationModel

@using System.Configuration;

<div style="clear: both;"></div>

<div class="pdf-ready-to-proceed">
    <font class="font-bold-15px-white" >
        <label>
        Ready to proceed?
        </label>
    </font>
</div>

<div class="pdf-what-else-is-available">

    <font class="font-normal-22px-purple" >
        <label>
        What else is available at Compare Cloudware?
        </label>
    </font>
    <br />

    <font class="font-normal-11px-black" >
        <label>
        Compare Cloudware is the best place to compare the features, benefits and costs of cloud services and applications, make a choice and start using them.
        </label>
    </font>
    <br />

    <font class="font-bold-11px-purple" >
        <label>
        Below is a list of current cloud categories:
        </label>
    </font>
    <br />

    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=3" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-conference-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=4" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-email-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=6" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-pro-storage-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=1" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-phone-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=5" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-office-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=8" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-financial-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=2" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-cust-manage-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=7" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-pro-manage-btn.gif")" />
    </a>
    <a href="http://cc-staging.wilsonmiller.co.uk/Home/CategoryPage?categoryID=9" target="_blank">
        <img src="@Url.Content("~/Images/ShopPDF/shop-security-btn.gif")" />
    </a>
    <br />

    <div style="clear: both;">
    </div>
</div>
