@model CompareCloudware.Web.Models.SearchPageModel
@using CompareCloudware.Web.Models;

<script>
    $(document).ready(function () {
        function RefreshActiveSupport() {
            var serialize1 = $('.search-filter-support-types :input').serialize();
            $.ajax({
                url: '/HasActiveSupport',
                type: 'POST',
                data: serialize1,

                //The request was a success. Repopulate the div with new result set.
                success: function (data) {
                    if (data.toUpperCase() == "TRUE") {
                        $('.search-filter-support-days select').removeAttr('disabled');
                        $('.search-filter-support-hours select').removeAttr('disabled');
                        $('.search-filter-timezones select').removeAttr('disabled');
                    }
                    else {
                        $('.search-filter-support-days select').attr('disabled', true);
                        $('.search-filter-support-days select').val('1')
                        $('.search-filter-support-hours select').attr('disabled', true);
                        $('.search-filter-support-hours select').val('1')
                        $('.search-filter-timezones select').attr('disabled', true);
                        $('.search-filter-timezones select').val('1')
                    }
                },
                error: function (data) {
                }
            });
        }

        RefreshActiveSupport();

        //fires when a support type filter is changed ( ACTIVE SUPPORT )
        $('body').off('change', '.search-filter-support-types input.filterParameter');
        $('body').on('change', '.search-filter-support-types input.filterParameter', function () {
            RefreshActiveSupport();
        });

        function setResultsDisplay()
        {
            var theButton = $('#displayAsSummary');
            var theValue = theButton.attr("value");
            if (theValue != null) {
                if ($('#displayAsSummary').attr("value").toUpperCase() == "TRUE") {
                    $('#resultsFull').css("visibility", "hidden");
                    $('#resultsSummary').css("visibility", "visible");
                }
                else {
                    $('#resultsFull').css("visibility", "visible");
                    $('#resultsSummary').css("visibility", "hidden");
                }
            }
        }

        setResultsDisplay();
    });
</script>

@{
    var href1 = "/" + Model.ContainerModel.SkyScraperAdvertisingImageCategoryTag1 + "/" + Model.ContainerModel.SkyScraperAdvertisingImageShopTag1;
    var href2 = "/" + Model.ContainerModel.SkyScraperAdvertisingImageCategoryTag2 + "/" + Model.ContainerModel.SkyScraperAdvertisingImageShopTag2;
}   

@*    <div class="search-page-title-bar font-normal-11px">
    </div>
*@    
    <div class="search-filters-container-outer box-shadow">
        <div class="search-filters-container-inner">
@*            @{Html.RenderPartial("SearchFilters", Model);}
*@            
            @{Html.RenderPartial("SearchFiltersModel", Model);}
@Html.HiddenFor(x => x.ContainerModel.MPUAdvertisingImageID1)
@Html.HiddenFor(x => x.ContainerModel.MPUAdvertisingImageID2)
@Html.HiddenFor(x => x.MonthlyPriceColumnHeader)
@Html.HiddenFor(x => x.AnnualPriceColumnHeader)


        </div>
    </div>
    <div class="search-results-container-outer">
@*        @{Html.RenderPartial("SearchResults", Model);}
*@        
        @{Html.RenderPartial("SearchResultsModel", Model);}
    </div>
    <div class="skyscrapers-container">
        <div class="skyscraper-image-container">
@*            <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
            @Html.HiddenFor(x=>x.ContainerModel.SkyscraperAdvertisingImageID1)
            @if (Model.ContainerModel.SkyscraperCloudApplicationID1 > 0)
            {
            <a href='@href1'>
@*                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = 10 })' class="advertising-image" />*@
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = @Model.ContainerModel.SkyscraperAdvertisingImageID1 })' class="advertising-image" />
            </a>
            }
            else
            {
@*            <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
@*            <a href='@Url.Action("CategoryPage", "Home", new { categoryID = @Model.CustomSession.SelectedCategoryID })'>*@
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = @Model.ContainerModel.SkyscraperAdvertisingImageID1 })' class="advertising-image" />
@*            </a>*@
            }
            
        </div>
        <div class="skyscraper-image-container">
            @Html.HiddenFor(x=>x.ContainerModel.SkyscraperAdvertisingImageID2)
                    @if (Model.ContainerModel.SkyscraperCloudApplicationID2 > 0)
                    {

@*            <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
            <a href='@href2'>
@*                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = 11 })' class="advertising-image" />*@
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = @Model.ContainerModel.SkyscraperAdvertisingImageID2 })' class="advertising-image" />
            </a>
                    }
                    else
                    {
@*            <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
@*            <a href='@Url.Action("CategoryPage", "Home", new { categoryID = @Model.CustomSession.SelectedCategoryID })'>*@
                <img src='@Url.Action("ShowSkyScraper", "Home", new { advertisingImageID = @Model.ContainerModel.SkyscraperAdvertisingImageID2 })' class="advertising-image" />
@*            </a>*@
                    }
        </div>
    </div>



