@model CompareCloudware.Web.Models.SearchPageModel
           
@using CompareCloudware.POCOQueryRepository.Helpers;
@using CompareCloudware.Web.Models;
@using PagedList;
@using System.Configuration;

@Html.Hidden("searchResultsCountHidden", Model.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResults.Count(), new { @id = "searchResultsCountHidden" })
@Html.Hidden("currentSortOrder", Model.ContainerModel.SearchResultsModel.CurrentSortOrder, new { @id = "currentSortOrder" })
@Html.Hidden("monthlyPriceColumnHeader",@Model.MonthlyPriceColumnHeader)
@Html.Hidden("annualPriceColumnHeader",@Model.AnnualPriceColumnHeader)
@Html.HiddenFor(x => x.ContainerModel.SearchResultsModel.CurrentSortOrder)
@Html.HiddenFor(x => x.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.DisplayAsSummary)



<table id="searchResultsInfoBar" class="search-header-results-infobar" style="width: 100%;">
    <tr>
        <td style="width: 20%;">
            <div class="search-results-infobar-icon-left">
                <div class="social-icon-container">
                        <img name="ICON_GOOGLE" class="cc-ui-icon cc-ui-icon-large-circle-arrow" src="@Url.Content("~/Images/Buttons/1x1-transparent.png")"/>
                </div>
            </div>
        </td>
        <td style="width: 60%;">
            <div class="search-results-infobar-text">
                <label class="font-normal-15px-white">These results are unbiased - please feel free to sort</label>
            </div>
        </td>
        <td style="width: 10%;">
            <div class="search-results-infobar-icon-right">
                <div class="social-icon-container">
                        <img name="ICON_GOOGLE" class="cc-ui-icon cc-ui-icon-large-circle-arrow" src="@Url.Content("~/Images/Buttons/1x1-transparent.png")"/>
                </div>
            </div>
        </td>
        <td style="width: 10%;">
            <div class="search-results-infobar-close">
                <a class="font-bold-11px-white">X Close</a>
            </div>
        </td>
    </tr>
</table>





<table id="xheader" class="search-header-results-table-inner" style="width: 100%;">
    <tr>
        <td style="width: 27%;" class="search-results-sort-column font-normal-11px-white">
            <label class="search-results-sort-column font-normal-11px-white" id="Vendor">Cloudware provider A-Z</label>
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "VENDOR ASC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-ascending"></div>
                }
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "VENDOR DESC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-descending"></div>
                }
        </td>
        <td style="width: 21%;" class="search-results-sort-column font-normal-11px-white">
            <label id="MonthlyPrice">@Model.MonthlyPriceColumnHeader</label>
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "MONTHLYPRICE ASC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-ascending"></div>
                }
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "MONTHLYPRICE DESC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-descending"></div>
                }
        </td>
        <td style="width: 20%;" class="search-results-sort-column font-normal-11px-white">
            <label id="AnnualPrice">@Model.AnnualPriceColumnHeader</label>
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "ANNUALPRICE ASC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-ascending"></div>
                }
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "ANNUALPRICE DESC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-descending"></div>
                }
        </td>
        <td style="width: 16%;" class="search-results-sort-column font-normal-11px-white">
            <label id="SetupFee">Set-up fee</label>
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "SETUPFEE ASC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-ascending"></div>
                }
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "SETUPFEE DESC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-descending"></div>
                }
        </td>
        <td style="width: 16%;" class="search-results-sort-column font-normal-11px-white">
            <label id="FreeTrial">Free trial</label>
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "FREETRIAL ASC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-ascending"></div>
                }
                @if (Model.ContainerModel.SearchResultsModel.CurrentSortOrder == "FREETRIAL DESC")
                {
                <div class="cc-column-sort-icon cc-ui-icon-order-descending"></div>
                }
        </td>
    </tr>
</table>

<div class="search-results-container-inner" id="tabsfull">
    @{var resultsCount = Model.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResults.Count;}
    @{var zeroResults = ConfigurationManager.AppSettings["ZeroResults"];}
    @if (resultsCount == 0)
    {
        <label class="font-bold-15px-purple">@zeroResults</label>
    }
    @if (resultsCount > 0)
    {
        if (Model.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.DisplayAsSummary)
        {
            <div id="resultsSummary" class="search-results-container-summary box-shadow-none">
                @Html.DisplayFor(x => x.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResultsSummary)
@*                @Html.Partial("SearchNavigationButtons", Model)*@
                @Html.Partial("SearchResultsMPUs",Model)
            </div>
            <div id="resultsFull" class="search-results-container-full box-shadow-none">
                @Html.DisplayFor(x => x.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResultsPage)
                @Html.Partial("SearchNavigationButtons", Model)
                @Html.Partial("SearchResultsMPUs", Model)
            </div>
        }
        else
        {
            <div id="resultsSummary" class="search-results-container-summary box-shadow-none">
                @Html.DisplayFor(x => x.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResultsSummary)
@*                @Html.Partial("SearchNavigationButtons", Model)*@
                @Html.Partial("SearchResultsMPUs", Model)
            </div>
            <div id="resultsFull" class="search-results-container-full box-shadow-none">
                @Html.DisplayFor(x => x.ContainerModel.SearchResultsModel.SearchResultsModelOneColumn.SearchResultsPage)
                @Html.Partial("SearchNavigationButtons", Model)
                @Html.Partial("SearchResultsMPUs", Model)
            </div>
        }
    }
</div>



