@model CompareCloudware.Web.Models.SearchPageModel

@{
    var href1 = "/" + Model.ContainerModel.MPUAdvertisingImageCategoryTag1 + "/" + Model.ContainerModel.MPUAdvertisingImageShopTag1;
    var href2 = "/" + Model.ContainerModel.MPUAdvertisingImageCategoryTag2 + "/" + Model.ContainerModel.MPUAdvertisingImageShopTag2;
}   

<div class="advertising-images-container">
    <div class="advertising-image-container-search-results">
@*                    @Html.HiddenFor(x=>x.ContainerModel.MPUAdvertisingImageID1)*@
                @if (Model.ContainerModel.MPUCloudApplicationID1 > 0)
                {

@*        <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
        <a href='@href1'>
@*            <img src='@Url.Action("ShowMPU", "Home", new { advertisingImageID = 3 })' class="advertising-image" />*@
            <img src='@Url.Action("ShowMPU", "Home", new { advertisingImageID = @Model.ContainerModel.MPUAdvertisingImageID1 })' class="advertising-image" />
        </a>
                }
            else
            {
@*            <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
@*            <a href='@Url.Action("CategoryPage", "Home", new { categoryID = @Model.CustomSession.SelectedCategoryID })'>*@
            <img src='@Url.Action("ShowMPU", "Home", new { advertisingImageID = @Model.ContainerModel.MPUAdvertisingImageID1 })' class="advertising-image" />
@*            </a>*@
            }
    </div>
    <div class="advertising-image-container-search-results">
@*                    @Html.HiddenFor(x=>x.ContainerModel.MPUAdvertisingImageID2)*@

                @if (Model.ContainerModel.MPUCloudApplicationID2 > 0)
                {

@*        <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
        <a href='@href2'>
@*            <img src='@Url.Action("ShowMPU", "Home", new { advertisingImageID = 4 })' class="advertising-image" />*@
            <img src='@Url.Action("ShowMPU", "Home", new { advertisingImageID = @Model.ContainerModel.MPUAdvertisingImageID2 })' class="advertising-image" />
        </a>
                }
                else
                {
@*            <a data-toggle="modal" data-id="register" href="#modalinput" class="font-normal-13px-purple register-or-update">*@
@*            <a href='@Url.Action("CategoryPage", "Home", new { categoryID = @Model.CustomSession.SelectedCategoryID })'>*@
            <img src='@Url.Action("ShowMPU", "Home", new { advertisingImageID = @Model.ContainerModel.MPUAdvertisingImageID2 })' class="advertising-image" />
@*            </a>*@
            }
    </div>
</div>
