@model CompareCloudware.Web.Models.TabbedSearchResultsModel
    <link href="../../../Content/DisabledJavaScript/site-tabs.css" rel="stylesheet" type="text/css" />    

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });
        $(function () {
            $("#tabs2").tabs();
        });
	</script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#tabs").tabs();               
            $("#tabs2").tabs();               

        });    
	</script>

    


@*    <div id="tabs">
	<ul>
		<li>G<a href="#tabs-1">Nunc tincidunt</a></li>
		<li><a href="#tabs-2">Proin dolor</a></li>
		<li><a href="#tabs-3">Aenean lacinia</a></li>
	</ul>
	<div id="tabs-1">
		<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
            @{Html.RenderPartial("SearchResultsFeaturedCloudware", @Model);}
	</div>
	<div id="tabs-2">
		<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
            @{Html.RenderPartial("SearchResultsFeaturedCloudware", @Model);}
	</div>
	<div id="tabs-3">
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	</div>
</div>
*@


@*    <div id="tabs2">
	    <ul>
		    <li style="width: 32%"><a href="#tabs-4">Featured Cloudware</a></li>
		    <li style="width: 32%"><a href="#tabs-5">New Cloudware</a></li>
		    <li style="width: 32%"><a href="#tabs-6">Cloudware Top Ten</a></li>
	    </ul>
	    <div id="tabs-4">
            @{Html.RenderPartial("SearchResultsFeaturedCloudware", @Model);}
	    </div>
	    <div id="tabs-5">
	        @{Html.RenderPartial("SearchResultsTopTenCloudware", @Model);}
	    </div>
	    <div id="tabs-6">
	        @{Html.RenderPartial("SearchResultsFeaturedCloudware", @Model);}
	        @{Html.RenderPartial("SearchResultsFeaturedCloudware", @Model);}
	    </div>
    </div>    
*@


@*    <div class="tabs-noscript">
    <section id="one">
        <a href="#one">Featured Cloudware</a>
        <div>
            @{Html.RenderPartial("SearchResultsFeaturedCloudware", @Model);}
         </div>
    </section>
    <section id="two">
        <a href="#two">New Cloudware</a>
        <div>
            @{Html.RenderPartial("SearchResultsTopTenCloudware", @Model);}
         </div>
    </section>
    </div>
*@

@*    <div id="tabstripmain">
        <div class="nojavascript-tab">
            <input class="nojavascript-tabcheckbox" checked="checked" type="radio" name="onlyone" id="the-checkbox1" value=""/>         
            <div class="nojavascript-divforlabel" title="tabtitle">
                <label class="nojavascript-label" for="the-checkbox1">Featured Cloudware</label>
            </div>
            <div class="nojavascript-results" title="results">
            @{Html.RenderPartial("TabbedSearchResultsFeaturedCloudware", @Model);}
            </div>
        </div>
        <div class="nojavascript-tab">
            <input class="nojavascript-tabcheckbox" type="radio" name="onlyone" id="the-checkbox2" value="" />         
            <div class="nojavascript-divforlabel" title="tabtitle">
                <label class="nojavascript-label" for="the-checkbox2">New Cloudware</label>
            </div>
            <div class="nojavascript-results" style="left:-101%; " title="results" >
            @{Html.RenderPartial("TabbedSearchResultsTopTenCloudware", @Model);}
            </div>
        </div>
        <div class="nojavascript-tab">
            <input class="nojavascript-tabcheckbox" type="radio" name="onlyone" id="the-checkbox3" value="" />         
            <div class="nojavascript-divforlabel" title="tabtitle">
                <label class="nojavascript-label" for="the-checkbox3">Cloudware top ten</label>
            </div>
            <div class="nojavascript-results" style="left:-202%; " title="results" >
            @{Html.RenderPartial("TabbedSearchResultsNewCloudware", @Model);}
            </div>
        </div>
    </div>
*@
    <div id="tabstripmain-category">
        <div class="nojavascript-tab">
            <div class="nojavascript-divforlabel" title="@(Model.FeaturedCloudwareSearchResultsVisible ? "active" : "tabtitle")">
                @if (!Model.FeaturedCloudwareSearchResultsVisible)
                {
                <a class="tab-anchor" href='@Url.Action("TabbedSearchResultsNoScript", "Home", new { resultsPage = @Html.Encode("TAB_FEATURED"), categoryBasedResults = Model.CategoryBasedResults ? true : false, categoryID = Model.CategoryID, scripting=false })' id="@Html.Encode("TAB_FEATURED")">
                    <label class="nojavascript-label">Featured cloudware</label>
                </a>
                }
                else
                {
                    <label class="nojavascript-label">Featured cloudware</label>
                }
            </div>
            <div class="nojavascript-results box-shadow" title="nojavascript-results" style="@(Model.FeaturedCloudwareSearchResultsVisible ? "display:inline" : "display:none;")">
            @{Html.RenderPartial("TabbedSearchResultsFeaturedCloudware", @Model);}
            </div>
@*            <div style="clear:both;"></div>*@
        </div>
        <div class="nojavascript-tab">
            <div class="nojavascript-divforlabel" title="@(Model.NewCloudwareSearchResultsVisible ? "active" : "tabtitle")">
                @if (!Model.NewCloudwareSearchResultsVisible)
                {
                <a class="tab-anchor" href='@Url.Action("TabbedSearchResultsNoScript", "Home", new { resultsPage = @Html.Encode("TAB_NEW"), categoryBasedResults = Model.CategoryBasedResults ? true : false, categoryID = Model.CategoryID, scripting = false })' id="@Html.Encode("TAB_NEW")">
                    <label class="nojavascript-label">New cloudware</label>
                </a>
                }
                else
                {
                    <label class="nojavascript-label">New cloudware</label>
                }
                
            </div>
            <div class="nojavascript-results" title="nojavascript-results" style="left:-101%; @(Model.NewCloudwareSearchResultsVisible ? "display:inline" : "display:none;")">
            @{Html.RenderPartial("TabbedSearchResultsNewCloudware", @Model);}
            </div>
        </div>
        <div class="nojavascript-tab">
            <div class="nojavascript-divforlabel" title="@(Model.TopTenCloudwareSearchResultsVisible ? "active" : "tabtitle")">
                @if (!Model.TopTenCloudwareSearchResultsVisible)
                {
                <a class="tab-anchor" href='@Url.Action("TabbedSearchResultsNoScript", "Home", new { resultsPage = @Html.Encode("TAB_TOPTEN"), categoryBasedResults = Model.CategoryBasedResults ? true : false, categoryID = Model.CategoryID, scripting = false })' id="@Html.Encode("TAB_TOPTEN")">
                    <label class="nojavascript-label">Cloudware top ten</label>
                </a>
                }
                else
                {
                    <label class="nojavascript-label">Cloudware top ten</label>
                }
            </div>
            <div class="nojavascript-results" title="nojavascript-results" style="left:-202%; @(Model.TopTenCloudwareSearchResultsVisible ? "display:inline" : "display:none;")">
            @{Html.RenderPartial("TabbedSearchResultsTopTenCloudware", @Model);}
            </div>
        </div>
    </div>









